*{
  margin: 0;
  box-sizing: border-box;
}

#container{
  width: 1200px;
  margin: 0 auto;
}

.main-header{
margin-bottom: 16px;
}

.hero{
  height: 300px;
  background: #ccc;
}

.main-navigation{
  height: 80px;
  background: #aaa;
}

.main-content::after
{
  content: "";
  display: table;
  clear: both;
}

.box{
  width: 100%;
  height: 400px;
  margin-bottom: 32px;
  background: #ccc;
}
.col{
  float: left;
  height: 300px;

}
.col-sx{
  width: 25%;
  background-color: blue;

}
.col-ct{
  width: 50%;
  background-color: green;

}
.col-dx{
  width: 25%;
  background-color: yellow;

}


.main-footer::after
{
  content: "";
  display: table;
  clear: both;
}
/*
.footer-text{
  height: 40px;
  background-color: red;
}
.socials{
  padding: 0;
}
.socials li{
  list-style:none;
  float: left;
  width: calc(100% / 3);
  height: 80px;
  background: #ccc;
} */
